Repository catchroom/BE_Chat, pull requests merged in 2024-02, with the labels that each got.

#99 Refactor : ChatRoom 리팩토링
  src/main/java/com/catchroom/chat/chatroom/dto/ChatRoomListGetResponse.java
  src/main/java/com/catchroom/chat/chatroom/entity/ChatRoom.java
  src/main/java/com/catchroom/chat/message/repository/ChatRoomRedisRepository.java
  src/main/java/com/catchroom/chat/message/service/ChatService.java
  src/test/java/com/catchroom/chat/message/repository/ChatRoomRedisRepositoryTest.java
Labels: 🔨 Refactor

#100 Develop
  .github/workflows/deploy.yml
  src/main/java/com/catchroom/chat/chatroom/dto/ChatRoomListGetResponse.java
  src/main/java/com/catchroom/chat/chatroom/entity/ChatRoom.java
  src/main/java/com/catchroom/chat/message/repository/ChatRoomRedisRepository.java
  src/main/java/com/catchroom/chat/message/service/ChatService.java
  src/test/java/com/catchroom/chat/message/repository/ChatRoomRedisRepositoryTest.java
Labels: 🌎 Deploy

#101 deploy : deploy.yml 수정
  .github/workflows/deploy.yml
Labels: 🌎 Deploy

#102 deploy : deploy.yml 수정
  .github/workflows/deploy.yml
Labels: 🌎 Deploy

#103 deploy : deploy.yml 수정
  .github/workflows/deploy.yml
Labels: 🌎 Deploy

#105 deploy : deploy.yml 재재수정
  .github/workflows/deploy.yml
Labels: 🌎 Deploy

#106 deploy : deploy.yml 재재재수정
  .github/workflows/deploy.yml
Labels: 🌎 Deploy

#108 Develop 로그 정리
  src/main/java/com/catchroom/chat/chatroom/service/ChatRoomService.java
  src/main/java/com/catchroom/chat/global/pubsub/RedisPublisher.java
  src/main/java/com/catchroom/chat/global/pubsub/RedisSubscriber.java
Labels: 🌎 Deploy, ✏️ Style

#109 style : StompHandler log 추가
  src/main/java/com/catchroom/chat/global/handler/StompHandler.java
Labels: 🌎 Deploy

#110 Refactor : ChatRoom 리팩토링
  src/main/java/com/catchroom/chat/chatroom/service/ChatRoomService.java
  src/main/java/com/catchroom/chat/global/config/CorsConfig.java
  src/main/java/com/catchroom/chat/global/config/RedisConfig.java
Labels: 🔨 Refactor

#112 Refactor : ChatRoom 리팩토링
  src/main/java/com/catchroom/chat/chatroom/controller/ChatRoomController.java
  src/main/java/com/catchroom/chat/chatroom/service/ChatRoomService.java
  src/main/java/com/catchroom/chat/message/service/ChatService.java
Labels: 🔨 Refactor

#113 Refactor : ChatRoom 리팩토링
  src/main/java/com/catchroom/chat/chatroom/service/ChatRoomService.java
  src/main/java/com/catchroom/chat/message/service/ChatService.java
Labels: 🔨 Refactor

#114 Develop
  src/main/java/com/catchroom/chat/chatroom/controller/ChatRoomController.java
  src/main/java/com/catchroom/chat/chatroom/service/ChatRoomService.java
  src/main/java/com/catchroom/chat/global/config/CorsConfig.java
  src/main/java/com/catchroom/chat/global/config/RedisConfig.java
  src/main/java/com/catchroom/chat/message/service/ChatService.java
Labels: 🌎 Deploy

#115 fix : docker 수정
  .github/workflows/deploy.yml
  Dockerfile
  build.gradle
  src/main/java/com/catchroom/chat/global/config/properties/RedisProperties.java
  src/main/java/com/catchroom/chat/global/healthcheck/CheckController.java
Labels: 🌎 Deploy

#116 fix : docker 수정
  .github/workflows/deploy.yml
Labels: 🌎 Deploy

#117 fix : docker 수정
  .github/workflows/deploy.yml
Labels: 🌎 Deploy

#118 fix : docker 수정
  .github/workflows/deploy.yml
Labels: 🌎 Deploy

#124 Develop
  .github/workflows/deploy.yml
  docker-compose.yml
Labels: 🌎 Deploy

#125 fix : docker 수정
  .github/workflows/deploy.yml
Labels: 🌎 Deploy

#126 Refactor : ChatRoom 리팩토링
  src/main/java/com/catchroom/chat/chatroom/controller/ChatRoomController.java
  src/main/java/com/catchroom/chat/chatroom/dto/ChatRoomGetResponse.java
  src/main/java/com/catchroom/chat/chatroom/service/ChatRoomService.java
  src/main/java/com/catchroom/chat/feign/client/MainFeignClient.java
  src/main/java/com/catchroom/chat/global/pubsub/RedisSubscriber.java
  src/main/java/com/catchroom/chat/message/dto/MessageSubDto.java
  src/main/java/com/catchroom/chat/message/repository/ChatRoomRedisRepository.java
  src/main/java/com/catchroom/chat/message/service/ChatService.java
  src/test/java/com/catchroom/chat/message/repository/ChatRoomRedisRepositoryTest.java
Labels: 🔨 Refactor
